.nav-container {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 72px;
    background-color: #fff;
    padding-top: 4px;
    z-index: 200;
}

.nav-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.nav-link:hover {
    background-color: rgb(243, 243, 243);
}

.nav-link img {
    height: 24px;
}

.nav-link div {
    font-size: 10px;
    margin-top: 7px;
}